<ion-modal-view>
  <ion-header-bar class="bar-positive">

    <h1 class="title">请选择桥梁</h1>
    <div class="buttons">
      <button class="button button-icon icon icon-close"
              ng-click="loginModal.hide()"></button>
    </div>
  </ion-header-bar>
  <ion-content ion-sticky>
        <ion-list>
            <!--
            <ion-item class="item-divider"> A </ion-item>
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    Go222
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            -->
            <ion-item ng-repeat="bridge in bridges" ng-click="selectBridge(bridge)">
                <p>{{bridge.name}}</p>
            </ion-item>
        </ion-list>

  </ion-content>


</ion-modal-view>