<ion-view view-title="桥梁卡片">

    <div class="bar bar-subheader bar-stable">
        <div class='single-select'>
            <select ng-model="road"
                    ng-options='x.id as x.id+" - "+x.name for x in roads'
                    ng-change="query()">
                <option value=''>所有线路</option>
            </select>
        </div>
    </div>

    <ion-content class="has-header has-subheader">
        <!-- 提示信息 -->
        <div class="text-center padding"
             ng-if="isLoading">
            <ion-spinner></ion-spinner>
            <p>加载中...</p>
        </div>
        <ion-refresher ng-if="bridges.length > 0 || loading1"
                       pulling-text="下拉刷新..."
                       on-refresh="query()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="item in bridges"
                      href="#/bridge/{{item.sn}}">
                {{item.name}}
                <span class="item-note">{{item.sn}} / {{item.zhuanghao}}</span>
                <p style='color:#999;padding-top:10px'>
                    {{item['上部主要承重构件']}} ,
                    {{item['上部一般承重构件']}} ,
                    {{item['支座']}} ,
                    {{item['桥面铺装']}}
                </p>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll on-infinite="loadMore()" distance="10%" icon="ion-loading-c"
                             ng-if="hasNextPage && !loadError">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>