<ion-view view-title="桥梁基础资料">
    <ion-content>
        <!-- 提示信息 -->
        <div class="text-center padding"
             ng-if="isLoading">
            <ion-spinner></ion-spinner>
            <p>加载中...</p>
        </div>
        <div ng-if="!isLoading">
            <div class="item item-divider">行政识别数据</div>
            <div class="bridgecard padding">
            <table class="bridgecard">
                <tr>
                    <td width="5%">1</td><td width="10%">路线编号</td><td width="18%">{{bridge.f1}}</td>
                    <td width="5%">2</td><td width="10%">路线名称</td><td width="18%">{{bridge.f2}}</td>
                    <td width="5%">3</td><td width="10%">路线等级</td><td>{{bridge.f3}}</td>
                </tr>
                <tr>
                    <td>4</td><td>桥梁编号</td><td>{{bridge.f4}}</td>
                    <td>5</td><td>桥梁名称</td><td>{{bridge.f5}}</td>
                    <td>6</td><td>桥位桩号</td><td>{{bridge.f6}}</td>
                </tr>
                <tr>
                    <td>7</td><td>设计荷载</td><td>{{bridge.f7}}</td>
                    <td>8</td><td>通行载重</td><td>{{bridge.f8}}</td>
                    <td>9</td><td>弯斜坡度</td><td>{{bridge.f9}}</td>
                </tr>
                <tr>
                    <td>10</td><td>桥面铺装</td><td>{{bridge.f10}}</td>
                    <td>11</td><td>管养单位</td><td>{{bridge.f11}}</td>
                    <td>12</td><td>建成年限</td><td>{{bridge.f12}}</td>
                </tr>
            </table>
            </div>
            <div class="item item-divider">结构技术数据</div>
            <div class="bridgecard padding">
                <table class="bridgecard">
                    <tr>
                        <td width="5%">13</td><td width="10%">桥梁总长(m)</td><td width="18%">{{bridge.f13}}</td>
                        <td width="5%">14</td><td width="10%">桥面总宽(m)</td><td width="18%">{{bridge.f14}}</td>
                        <td width="5%">15</td><td width="10%">车行道宽(m)</td><td>{{bridge.f15}}</td>
                    </tr>
                    <tr>
                        <td>16</td><td>引道总宽(m)</td><td>{{bridge.f16}}</td>
                        <td>17</td><td>引道路面宽</td><td>{{bridge.f17}}</td>
                        <td colspan=3>--</td>
                    </tr>
                    <tr><td colspan=9 class='text-left title'>上部结构 (18-22)</td></tr>
                    <tr>
                        <td>18</td>
                        <td>孔号</td>
                        <td colspan=7 style='padding:0'  width="85%">
                            <table class="innertbl">
                                <tr>
                                    <td ng-repeat="kong in bridge.kongs" width="{{100/bridge.kongs.length}}%">
                                        {{kong.numbers}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>形式</td>
                        <td colspan=7 style='padding:0'  width="85%">
                            <table class="innertbl">
                                <tr>
                                    <td ng-repeat="kong in bridge.kongs" width="{{100/bridge.kongs.length}}%">
                                        {{kong.xingshi}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>跨径（m）</td>
                        <td colspan=7 width="85%" style='padding:0'>
                            {{bridge.kongs[0].kuajing}}
                        </td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>材料</td>
                        <td colspan=7 style='padding:0' width="85%">
                            <table class="innertbl">
                                <tr>
                                    <td ng-repeat="kong in bridge.kongs" width="{{100/bridge.kongs.length}}%">
                                        {{kong.cailiao}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>每孔主梁数</td>
                        <td colspan=7 style='padding:0' width="85%">
                            <table class="innertbl">
                                <tr>
                                    <td ng-repeat="kong in bridge.kongs" width="{{100/bridge.kongs.length}}%">
                                        {{kong.liang}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr><td colspan=9 class='text-left title'>下部结构 (23-26)</td></tr>
                    <tr>
                        <td>23</td>
                        <td>墩台</td>
                        <td colspan=7 style='padding:0' width="85%">
                            <table class="innertbl">
                                <tr>
                                    <td ng-repeat="dun in bridge.duns" width="{{100/bridge.duns.length}}%">
                                        {{dun.numbers}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>形式</td>
                        <td colspan=7 style='padding:0' width="85%">
                            <table class="innertbl">
                                <tr>
                                    <td ng-repeat="dun in bridge.duns" width="{{100/bridge.duns.length}}%">
                                        {{dun.xingshi}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>25</td>
                        <td>材料</td>
                        <td colspan=7 style='padding:0' width="85%">
                            <table class="innertbl">
                                <tr>
                                    <td ng-repeat="dun in bridge.duns" width="{{100/bridge.duns.length}}%">
                                        {{dun.cailiao}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>基础形式</td>
                        <td colspan=7 style='padding:0' width="85%">
                            <table class="innertbl">
                                <tr>
                                    <td ng-repeat="dun in bridge.duns" width="{{100/bridge.duns.length}}%">
                                        {{dun.jichuxingshi}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>27</td><td>伸缩缝类型</td><td>{{bridge.f27}}</td>
                        <td>28</td><td>伸缩缝</td><td>{{bridge.f28}}</td>
                        <td>29</td><td>支座形式</td><td>{{bridge.f29}}</td>
                    </tr>
                    <tr>
                        <td>30</td><td>桥台护坡</td><td>{{bridge.f30}}</td>
                        <td colspan=6>--</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>备注</td>
                        <td colspan="7" class="text-left">{{bridge.f31}}</td>
                    </tr>
                </table>
            </div>
            <div class="item item-divider">桥梁照片</div>
            <div class="bridgecard padding">
                <table class="bridgecard">
                    <tr>
                        <td width="5%">32</td><td width="45%">立面照</td>
                        <td width="5%">33</td><td width="45%">桥面正面照</td>
                    </tr>
                    <tr>
                        <td colspan=2><img ng-src="img/{{bridge.f32}}"></td>
                        <td colspan=2><img ng-src="img/{{bridge.f33}}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </ion-content>
</ion-view>