<ion-view view-title="病害信息">
    <ion-content class="has-header">
        <!-- 提示信息 -->
        <div class="text-center padding"
             ng-if="isLoading">
            <ion-spinner></ion-spinner>
            <p>加载中...</p>
        </div>
        <ion-list ng-if="!isLoading">
            <ion-item>
                {{disease.content}}
            </ion-item>
            <ion-item class="item-divider">病害信息</ion-item>
            <ion-item  ng-repeat="item in disease" style="pointer-events:auto">
                {{item}}
            </ion-item>
            <ion-item class="item-divider">媒体信息</ion-item>
            <ion-slide-box class='welcome'>
                <ion-slide ng-repeat="item in medias">
                    <div class="padding text-center">
                        <img ng-src="{{item.result}}" style="width:100%">
                    </div>
                </ion-slide>
            </ion-slide-box>
        </ion-list>
    </ion-content>
</ion-view>