<ion-view view-title="病害信息">
    <ion-content class="has-header">
        <!-- 提示信息 -->
        <div class="text-center padding"
             ng-if="isLoading">
            <ion-spinner></ion-spinner>
            <p>加载中...</p>
        </div>
        <ion-list ng-if="!isLoading">
            <ion-item class="item-divider">病害信息</ion-item>
            <ion-item class="item-toggle1" ng-repeat="item in result" style="pointer-events:auto">
                {{item.item_name}}
                <ng-include src="'views/check/result-item.html'"></ng-include>
            </ion-item>
            <ion-item class="item-divider">媒体信息</ion-item>
        </ion-list>
    </ion-content>
</ion-view>