<ion-view view-title="设置">
    <ion-content class="has-header">
        <ion-list>
            <!--个人信息-->
            <ion-item class="item-divider">个人信息</ion-item>
            <ion-item>
                当前用户
                <span class="item-note">{{user.name || '还未登陆'}}</span>
            </ion-item>
            <ion-item ng-click="logout()" class='item-icon-right'>
                退出登录
                <i class="icon ion-log-out"></i>
            </ion-item>

            <!--个人设置-->
            <ion-item class="item-divider">个人设置</ion-item>
            <ion-toggle>仅在WiFi环境下上传数据</ion-toggle>
            <label class='item item-input item-select'>
                <span class="input-label">保存病害信息后返回界面</span>
                    <select>
                        <option value="road">线路</option>
                        <option value="bridge">桥梁</option>
                        <option value="buwei">部位</option>
                        <option value="bujian">部件</option>
                    </select>
            </label>
            <label class='item item-input item-select'>
                <span class="input-label">API地址</span>
                <select  ng-model="setting.apiUrl" ng-change="changeApiUrl()">
                    <option value="/api/">本机测试</option>
                    <option value="http://192.168.0.111:809/api/">192.168.0.111</option>
                    <option value="http://192.168.43.179:809/api/">192.168.43.179</option>
                    <option value="http://qljcpad.tjxrs.cn/api/">qljcpad.tjxrs.cn</option>
                </select>
            </label>
            <!--数据信息-->
            <ion-item class="item-divider">数据信息</ion-item>
            <ion-item>
                本地数据大小
                <span class="item-note"> 2.4M</span>
            </ion-item>
            <ion-item>
                未上传检查记录
                <span class="item-note"> {{localDiseaseCount}}</span>
            </ion-item>
            <ion-item href="#/baseinfo/update"  class='item-icon-right'>
                检查数据更新
                <span class="item-note">最后更新: xxxxxx-xxxx</span>
                <i class="icon ion-ios-loop"></i>
            </ion-item>

            <ion-item href="#/baseinfo/create"  class='item-icon-right'>
                重置数据库
                <i class="icon ion-ios-loop"></i>
            </ion-item>
            <!--关于-->
            <ion-item class="item-divider">关于</ion-item>
            <ion-item>帮助</ion-item>
            <ion-item>
                检查更新<span class="item-note">当前版本: 0.1.x</span>
            </ion-item>
            <ion-item>关于APP</ion-item>
            <ion-item>
                关于天津容数
                <span class="item-note">www.tjxrs.cn</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
