<ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-positive {{hideTabs}}">

	<ion-tab title="病害列表" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" ui-sref=tab.disease>
        <ion-nav-view name="tabDisease" class="slide-left-right"></ion-nav-view>
    </ion-tab>

    <ion-tab title="桥梁卡片" icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags" ui-sref=tab.card>
        <ion-nav-view name="tabBridge" class="slide-left-right"></ion-nav-view>
    </ion-tab>

    <ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref=tab.setting>
        <ion-nav-view name="tabSetting" class="slide-left-right"></ion-nav-view>
    </ion-tab>

	<ion-tab title='添加检查' icon-off='ion-plus' icon-on='ion-plus-round' class='aaaa' href='check'>
		<ion-nav-view name="tabCheck" class="slide-left-right"></ion-nav-view>
	</ion-tab>

</ion-tabs>
<!--
<button class="button-float button button-assertive icon ion-android-add" ng-click="createNewTopic()"></button>
-->
