<ion-view hide-nav-bar=true>
    <ion-slide-box class='welcome'>
        <ion-slide>
            <div style="background:url(img/welcome/1.jpg);height:100%;background-size:cover;background-position:center"
                 class='padding'>
                <div class="description" style="padding-top:100px">
                    <h3 style="line-height:200%;font-size:50px;font-weight:bold;color: #000;
  text-shadow: 0 1px 1px #fff;    ">桥梁智能检测与桥梁技术情况<br>管理系统 v1.0</h3>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="background:url(img/welcome/2.jpg);height:100%"
                 class='padding'>
                <div class="description">
                    <h3 style="line-height:200%;font-size:50px;font-weight:bold; color: #eee;
  text-shadow: 5px 5px 0 #666, 5px 5px 0 #666;">桥梁检测 , 智能 , 易用 , 互联网+</h3>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="background:url(img/welcome/3.jpg);height:100%"
                 class='padding'>
                <div class="description">
                    <h3 style="line-height:200%;font-size:50px;font-weight:bold; color: #eee;
  text-shadow: 5px 5px 0 #666, 5px 5px 0 #666;">技术管理 , 检测报告 , 快捷</h3>                </div>
                <div style="width:100%;bottom:50px;position:fixed;text-align:center">
                    <a class="button button-energized"
                       style="width:60%;font-size:20px;font-weight:bold"
                            href="#/disease">
                        马上进入
                    </a>
                </div>
            </div>
        </ion-slide>
    </ion-slide-box>
</ion-view>
