<ion-view hide-nav-bar=true>
    <ion-slide-box class='welcome'>
        <ion-slide>
            <div style="background:url(img/welcome/1.jpg);height:100%;background-size:cover;background-position:center"
                 class='padding'>
                <div class="description">
                    <h3>介绍内容1</h3>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="background:url(img/welcome/2.jpg);height:100%"
                 class='padding'>
                <div class="description">
                    <h3>介绍内容2</h3>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="background:url(img/welcome/3.jpg);height:100%"
                 class='padding'>
                <div class="description">
                    <h3>介绍内容3</h3>
                </div>
                <div style="width:100%;bottom:50px;position:fixed;text-align:center">
                    <a class="button button-energized"
                       style="width:60%;font-size:20px;font-weight:bold"
                            href="#/disease">
                        马上进入
                    </a>
                </div>
            </div>
        </ion-slide>
    </ion-slide-box>
</ion-view>
