<ion-view view-title="病害检查">
    <ion-header-bar class="bar-positive">
        <button class="button button-icon  ion-ios-close-outline pull-left" ng-click="goBack()"></button>
        <h1 class="title">
            <span ng-show="!current.isEmpty()">
                {{current.road.display}} / {{current.task.display}} / {{current.bridge.display}}
            </span>
        </h1>
        <div class="buttons" data-side="right">
            <button class="button button-icon  ion-checkmark-round" ng-click="previewBeforeSave()">保存</button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" class="has-header">
        <div class="picker-container" ng-if="!current.isEmpty()">
            <!--病害信息显示-->
            <div class="row inforow" style="background-color:#ffffcc">
                <div class="col">当前病害描述: {{current.content.value}}</div>
            </div>

            <!--病害量化选择-->
            <div class="picker-columns" style="height:362px">
                <div ng-repeat="col in pickerColumns" ng-show="!col.hidden" ng-class="{'picker-column-locked': col.isLocked}" class="picker-column text-{{col.align || 'center'}} "
                    style="{{(col.width && col.width !=0) ? 'width:'+col.width+'px' : 'flex:1;-webkit-flex:1'}}">
                    <div class="picker-column-header picker-column-header-{{col.type || 'swipe'}}" ng-click="onHeaderClick(col)">
                        <i class="icon ion-{{col.isLocked ? 'locked' : 'unlocked'}}" ng-show="col.allowLock == '1'"></i>                        {{col.name}}
                    </div>
                    <div ng-if="col" swipepicker data-momentumRatio="10" data-pickerdata="col" data-changecol="changeCol(col)" ng-class="{'activated':col.isActivsted}"
                        class="picker-column-items picker-column-{{col.type || 'swipe'}}">
                    </div>
                </div>
                <div class="picker-highlight"></div>
            </div>

            <!--历史记录-->
            <div class="flex-column flex1">
                <!--病害信息显示-->
                <div class="row inforow border-top" style="background-color:#ffffcc;border-bottom:0">
                    <div class="col text-center">病害媒体信息</div>
                </div>
                <div style="border-top:#ccc solid 1px;" class="flex-row flex1">

                    <ion-scroll direction="x" class='flex1 mediacontainer' style="height:100%">
                        <div ng-repeat="media in medias" class="imgwrap" ng-switch="media.type" ng-click="showMediaView($index)" style1='background-image:url({{media.path}});background-size:cover;background-position:center'>
                            <img ng-switch-when="image" ng-src="{{media.path}}">
                            <div>
                                <video ng-switch-when="video" ng-src="{{media.path}}" controls></video>
                            </div>
                            <audio ng-switch-when="audio" ng-src="{{media.path}}" controls></audio>
                        </div>
                    </ion-scroll>
                </div>

            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-positive">
        <div class="buttons pull-right" data-side="right">
            <button class="button button-icon ion-ios-videocam" ng-click="captureVideo()">录像</button>
            <button class="button button-icon ion-ios-albums" ng-click="captureAlbum()">相册</button>
            <button class="button button-icon ion-ios-recording" ng-click="captureAudio()">录音</button>
            <button class="button button-icon ion-ios-camera" style="font-weight:bold" ng-click="captureImage()">拍照</button>
        </div>
    </ion-footer-bar>
</ion-view>
<!--
<button class="button-float button-float-left button button-positive icon ion-checkmark-round"
		style="border-radius:10%;"
        ng-click="save()">保存</button>

<button class="button-float button-float-right button button-energized icon ion-ios-camera ion-ios-more1 "
        ng-click="showMediaMenu($event)"></button>
-->