<ion-modal-view>
    <ion-header-bar class="bar-royal" style="background-color:#1abc9c">
        <h1 class="title">桥梁基础技术状况评定标准</h1>
    </ion-header-bar>
    <ion-content>
        <div class="padding bridgecard">
            <h3 ng-show="diseaseEvaluates.length == 0">当前所选定性描述没有标度记录!</h3>
            <table ng-show="diseaseEvaluates.length>0">
                <tr ng-repeat="item in diseaseEvaluateGroups">
                    <td colspan=3 style='font-weight:bold;text-align:left'>{{item.id}} {{item.name}}</td>
                <tr>
                <tr>
                    <td>标度</td>
                    <td>定性描述</td>
                    <td>定量描述</td>    
                </tr>
                <tr ng-repeat="item in diseaseEvaluates">
                    <td>{{item.sn}}</td>
                    <td>{{item.desc1}}</td>
                    <td>{{item.desc2}}</td>
                </tr>            
            </table>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-royal"  style="background-color:#1abc9c">
        <button class="button button-icon  ion-ios-close-outline pull-right"
                ng-click="dieaseEvaluateModal.hide()">关闭</button>
    </ion-footer-bar>
</ion-modal-view>