<ion-modal-view style="height:150px">
    <ion-header-bar class="bar-royal">
        <h1 class="title">填写 {{currentColumn.name}} 信息</h1>
    </ion-header-bar>
    <ion-content scroll="false" >
        <div class="padding" style="height:100%">
            <textarea placeholder="请输入信息" style="width:100%;min-height:100px;height:100%;border:#eee solid 2px" ng-model="currentColumn.value"></textarea>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-royal">
        <button class="button button-icon  ion-ios-close-outline pull-left"
                ng-click="headerModal.hide()">关闭</button>
        <button class='button button-icon ion-checkmark-round pull-right'
                ng-click="saveHeaderContent()">保存信息</button>
    </ion-footer-bar>
</ion-modal-view>