<ion-view>
    <ion-header-bar class="bar-positive">
        <button class="button button-icon  ion-ios-close-outline pull-left"
                ng-clic1k='goback()' ui-sref=tab.disease></button>
        <h1 class="title">
            <div ng-show="!current.isEmpty()">
                {{current.road.display}} / {{current.bridge.display}} / {{current.bujianGroup.value}}
            </div>
            <div ng-if="current.isEmpty()">请选择检测基础信息</div>
        </h1>
        <div class="buttons" side="right">
            <button class='button button-icon ion-ios-loop'
                    ng-click="reSelectInfo()">重新选择</button>
            <button class='button button-icon button-clear ion-ios-more'
                    ng-click="showPopover($event)"></button>

            <!--
            <button class='button button-badge button-icon ion-ios-clock-outline'
                    style="padding-left:0"
                    ng-hide="historys.length==0" ng-click="showHistoryModal()">
                <span class="badge badge-assertive">{{historys.length}}1</span>
            </button>
            -->
        </div>
    </ion-header-bar>
    <ion-content scroll="false" class="has-header">

        <div class="picker-container"
             ng-if="!current.isEmpty()">

            <!--桥梁部件信息-->
            <!--
            <div class="row inforow" style='background-color:#e8f4ff'>
                <div class="col col-20">线路信息: {{current.road.display}}</div>
                <div class="col">桥梁信息: {{current.bridge.display}}</div>
                <div class="col col-20">部位: {{current.bujianGroup.value}} <span class="badge badge-assertive">0</span></div>
                <div class="col col-10 text-center" style="font-weight:bold;color:red" ng-click="reSelectInfo()">重新选择</div>
            </div>
            -->

            <!--桥梁部件号选择-->
            <div class="hpicker-container hpicker-container-borderbottom">
                <div class="hpicker-row">
                    <div class="hpicker-header">{{current.bujianGroup.value}}:</div>
                    <div hswipepicker
                         pickerdata="bujianSns"
                         momentumRatio="10"
                         changecol = "changeCol(bujianSns)"
                         ng-class= "{'activated':bujianSns.isActivsted}"
                         class="hpicker-items">
                    </div>
                    <div class="hpicker-highlight"></div>
                </div>
            </div>
            <!--部件选择-->
            <div class="hpicker-container hpicker-container-borderbottom">
                <div class="hpicker-row">
                    <div class="hpicker-header">桥梁部件:</div>
                    <div hswipepicker
                         pickerdata="bujians"
                         momentumRatio="10"
                         changecol = "changeCol(bujians)"
                         ng-class= "{'activated':bujians.isActivsted}"
                         class="hpicker-items">
                    </div>
                    <div class="hpicker-highlight"></div>

                </div>
            </div>



            <!--病害信息显示-->
            <div class="row inforow" style="background-color:#ffffcc">
                <div class="col col-20">当前正在采集的信息</div>
                <div class="col"> {{result.values}}</div>
            </div>

            <!--病害量化选择-->
            <div class="picker-columns">
                <div ng-repeat="col in pickerColumns"
                     ng-show = "!col.hidden"
                     class="picker-column text-{{col.align || 'center'}}"
                     style="{{col.width ? 'width:'+col.width+'px' : 'flex:1;-webkit-flex:1'}}">
                    <div class="picker-column-header">{{col.name}}</div>
                    <div swipepicker
                         momentumRatio="10"
                         pickerdata="col"
                         changecol = "changeCol(col)"
                         ng-class= "{'activated':col.isActivsted}"
                         class="picker-column-items {{col.activated}}">
                    </div>
                </div>
                <div class="picker-highlight"></div>
            </div>

            <!--历史记录-->
            <div style="height:230px;border-bottom1:#ccc solid 1px;display:flex">
                <table class="aaaa">
                    <tr>
                        <td colspan=4>
                            桥梁检测记录
                        </td>
                    </tr>
                    <tr>
                        <td style="width:240px;">病害编号</td>
                        <td style="text-align:left">病害位置</td>
                        <td style="width:80px">标度</td>
                        <td style="width:80px">照片</td>
                    </tr>
                    <tr>
                        <td style="width:240px;">S1-20150609-093L-0001</td>
                        <td style="text-align:left">
                            第1孔3#小箱梁，距7#墩2m，外侧腹板
                            横向裂缝
                            2条, 长0.5，最大缝宽0.18
                        </td>
                        <td style="width:80px">1</td>
                        <td style="width:80px">2</td>
                    </tr>
                    <tr>
                        <td style="width:240px;">S1-20150609-093L-0002</td>
                        <td style="text-align:left">
                            第1孔3#小箱梁，距7#墩2m，外侧腹板
                            横向裂缝
                            长0.5，最大缝宽0.18
                        </td>
                        <td style="width:80px">1</td>
                        <td style="width:80px">2</td>
                    </tr>
                    <tr>
                        <td style="width:240px;">S1-20150609-093L-0003</td>
                        <td style="text-align:left">
                            第1孔3#小箱梁，距7#墩2m，外侧腹板
                            横向裂缝
                            长0.5，最大缝宽0.18
                        </td>
                        <td style="width:80px">1</td>
                        <td style="width:80px">2</td>
                    </tr>
                    <tr>
                        <td style="width:240px;">S1-20150609-093L-0004</td>
                        <td style="text-align:left">
                            第1孔3#小箱梁，距7#墩2m，外侧腹板
                            横向裂缝
                            长0.5，最大缝宽0.18
                        </td>
                        <td style="width:80px">1</td>
                        <td style="width:80px">2</td>
                    </tr>
                </table>
            </div>

            <!--
            <div style="border-top:#ccc solid 1px;">
                <div style="line-height:36px;padding:0;text-align:center" class="row">
                    <div class="col">病害采集</div>
                    <div class="col">桥梁卡片</div>
                    <div class="col">检测报告</div>
                    <div class="col">维修记录</div>
                    <div class="col">历史检测记录</div>
                    <div class="col">桥梁评价</div>
                </div>
            </div>
            -->
        </div>

    </ion-content>
</ion-view>
<button class="button-float button-float-left button button-positive icon ion-checkmark-round"
		style="border-radius:10%;"
        ng-click="save()">保存</button>

<button class="button-float button-float-right button button-energized icon ion-ios-camera ion-ios-more1 "
        ng-click="showMediaMenu($event)"></button>

