<ion-view view-title="病害检查">
    <ion-header-bar class="bar-positive">
        <button class="button button-icon  ion-ios-close-outline pull-left"
                ui-sref=tab.disease></button>
        <h1 class="title">
            <span ng-show="!current.isEmpty()">
                {{current.project.display}} / {{current.road.display}} / {{current.bridge.display}}
            </span>
            <span ng-if="current.isEmpty()">请选择检测基础信息</span>
        </h1>
        <div class="buttons" data-side="right">
            <button class='button button-icon ion-ios-loop'
                    ng-click="reSelectInfo()">重新选择</button>
            <button class='button button-icon button-clear ion-ios-more'
                    ng-click="showMainPopoverMenu($event)"></button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" class="has-header">
        <div class="picker-container"
             ng-if="!current.isEmpty()">
            <!--桥梁部件号选择-->
            <div class="hpicker-container hpicker-container-borderbottom">
                <div class="hpicker-row">
                    <div class="hpicker-header">{{current.bujianGroup.value}}:</div>
                    <div ng-if="bujianSns"
                         hswipepicker
                         data-pickerdata="bujianSns"
                         data-momentumRatio="10"
                         data-changecol = "changeCol(bujianSns)"
                         ng-class= "{'activated':bujianSns.isActivsted}"
                         class="hpicker-items">
                    </div>
                    <div class="hpicker-highlight"></div>
                </div>
            </div>
            <!--部件选择-->
            <div class="hpicker-container hpicker-container-borderbottom">
                <div class="hpicker-row">
                    <div class="hpicker-header">桥梁部件:</div>
                    <div ng-if="bujians"
                         hswipepicker
                         data-pickerdata="bujians"
                         data-momentumRatio="10"
                         data-changecol = "changeCol(bujians)"
                         ng-class= "{'activated':bujians.isActivsted}"
                         class="hpicker-items">
                    </div>
                    <div class="hpicker-highlight"></div>
                </div>
            </div>

            <!--病害信息显示-->
            <div class="row inforow" style="background-color:#ffffcc">
                <div class="col col-20">当前正在采集的信息</div>
                <div class="col"> {{current.content.value}}</div>
                <div class="col col-10 text-center" style="color:blue;border:0">
                    <a class="button icon ion-ios-plus button-clear button-positive"
                       style="font-weight:bold"> 添加</a>
                </div>
            </div>

            <!--病害量化选择-->
            <div class="picker-columns" style="height:218px">
                <div ng-repeat="col in pickerColumns"
                     ng-show = "!col.hidden"
                     class="picker-column text-{{col.align || 'center'}}"
                     style="{{(col.width && col.width !=0) ? 'width:'+col.width+'px' : 'flex:1;-webkit-flex:1'}}">
                    <div class="picker-column-header">{{col.name}}</div>
                    <div ng-if="col"
                         swipepicker
                         data-momentumRatio="10"
                         data-pickerdata="col"
                         data-changecol = "changeCol(col)"
                         ng-class= "{'activated':col.isActivsted}"
                         class="picker-column-items {{col.activated}}">
                    </div>
                </div>
                <div class="picker-highlight"></div>
            </div>

            <!--历史记录-->

            <div ng-if="!forMedia"
                 ng-include="'views/checkswipe/record.html'"
                 class="flex-column flex1"></div>
            <div ng-if="forMedia"
                 ng-include="'views/checkswipe/media.html'"
                 class="flex-column flex1" ></div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-positive">
        <button class="button button-icon  ion-checkmark-round pull-left"
                ng-click="previewBeforeSave()">保存</button>
        <h1 class="title">
        </h1>
        <div class="buttons pull-right" data-side="right">
            <button class='button button-icon ion-ios-camera'
                    ng-if="!forMedia"
                    ng-click="showMediaMenu($event)">拍照</button>
            <button class='button button-icon ion-close-round'
                    ng-if="forMedia"
                    ng-click="hideMediaMenu()">取消拍照</button>
        </div>
    </ion-footer-bar>
</ion-view>
<!--
<button class="button-float button-float-left button button-positive icon ion-checkmark-round"
		style="border-radius:10%;"
        ng-click="save()">保存</button>

<button class="button-float button-float-right button button-energized icon ion-ios-camera ion-ios-more1 "
        ng-click="showMediaMenu($event)"></button>
-->

