<ion-view>
    <ion-header-bar class="bar-positive">
        <button class="button button-icon  ion-ios-close-outline pull-left"
                ng-clic1k='goback()' ui-sref=tab.disease></button>
        <h1 class="title">S1 K100+100 桥上检测</h1>
        <div class="buttons" side="right">
            <button class='button button-badge button-icon ion-ios-clock-outline'
                    style="padding-left:0"
                    ng-hide="historys.length==0" ng-click="showHistoryModal()">
                <span class="badge badge-assertive">{{historys.length}}1</span>
            </button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" class="has-header">
        <div class="picker-container">
            <div class="hpicker-container hpicker-container-borderbottom">
                <div class="hpicker-row">
                    <div class="hpicker-header">桥下检测</div>
                    <div hswipepicker
                         pickerdata="result.bujiannum"
                         momentumRatio="10"
                         changecol = "changeCol(result.bujiannum)"
                         ng-class= "{'activated':result.bujiannum.isActivsted}"
                         class="hpicker-items">
                    </div>
                    <div class="hpicker-highlight"></div>
                </div>
            </div>
            <div class="hpicker-container hpicker-container-borderbottom">
                <div class="hpicker-row">
                    <div class="hpicker-header">部件</div>
                    <div hswipepicker
                         pickerdata="result.bujian"
                         momentumRatio="10"
                         changecol = "changeCol(result.bujian)"
                         ng-class= "{'activated':result.bujian.isActivsted}"
                         class="hpicker-items">
                    </div>
                    <div class="hpicker-highlight"></div>

                </div>
            </div>
			<div class="picker-columns">
				<div ng-repeat="col in s"
                     class="picker-column text-{{col.align || 'center'}}"
                     style="{{col.width ? 'width:'+col.width+'px' : 'flex:1;-webkit-flex:1'}}">
					<div class="picker-column-header">{{col.name}}</div>
					<div swipepicker
                         momentumRatio="10"
                         pickerdata="col"
                         changecol = "changeCol(col)"
                         ng-class= "{'activated':col.isActivsted}"
                         class="picker-column-items {{col.activated}}">
					</div>
				</div>
                <div class="picker-highlight"></div>
            </div>

			<div style="height:36px;background:#eee;border-top:#ccc solid 1px">
                病害分布 {{result.values}}11</div>
			<div style="height:36px;background:#eee;border-top:#ccc solid 1px">功能按钮</div>

        </div>
    </ion-content>
</ion-view>
<button class="button-float button-float-left button button-positive icon ion-checkmark-round"
		style="width:72px;height:72px;border-radius:10%;"
        ng-show="isEnd"
        ng-click="save()"></button>

<button class="button-float button-float-right button button-energized icon ion-ios-more"
        ng-class="{true: 'button-aside', false: ''}[$exposeAside.active]"
        ng-click="showMediaMenu($event)"></button>

