    <!--病害信息显示-->
    <div class="row inforow border-top" style="background-color:#ffffcc;border-bottom:0">
        <div class="col text-center">病害媒体信息</div>
    </div>
    <div style="border-top:#ccc solid 1px;" class="flex-row flex1">

        <div class='flex1 mediacontainer' style="height:100%">
                <div ng-repeat = "media in medias"
                     class="imgwrap"
                     ng-switch="media.type"
                     style1='background-image:url({{media.path}});background-size:cover;background-position:center'>
                    <img ng-switch-when="image" src="{{media.path}}">
                    <video ng-switch-when="video" src="{{media.path}}"></video>
                    <audio ng-switch-when="audio" src="{{media.path}}" controls></audio>
                    <div>{{media.type}}</div>
                </div>
        </div>

        <div class="mediamenu padding">
            <div>
                <button class="button button-outline button-positive icon
                    ion-ios-albums" ng-click="captureAlbum()">相册</button>
                <button class="button button-outline button-positive icon
                    ion-ios-videocam" ng-click="captureVideo()">录像</button>
            </div>
            <div class="padding-top">
                <button class="button button-outline button-royal icon
                    ion-ios-recording" ng-click="captureAudio()">录音</button>
                <button class="button button-outline button-assertive icon
                    ion-ios-camera" style="font-weight:bold" ng-click="captureImage()">拍照</button>
            </div>
            <!--
            <button class="button button-block button-outline button-stable icon
                    ion-ios-recording" ng-click="hideMediaMenu()">取消</button>
            -->
        </div>

    </div>



