<ion-modal-view class="previewmodal">
    <ion-header-bar class="bar-royal">
        <h1 class="title">{{preview.beforeSave ? '当前病害预览' : '查看病害详细信息'}}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <div class="row">
                <div class="col-20 text-right">
                    病害描述:
                </div>
                <div>
                    {{preview.content}}
                </div>
            </div>

            <div class="row media">
                <div class="col-20 text-right">照片({{preview.medias.length}}):</div>
                <div class="mediacontainer">
                    <div ng-repeat = "media in preview.medias"
                         class="imgwrap"
                         ng-switch="media.type"
                         ng-click="showMediaView($index)"
                         style1='background-image:url({{media.path}});background-size:cover;background-position:center'>
                        <img ng-switch-when="image" ng-src="{{media.path}}">
                        <div><video ng-switch-when="video" ng-src="{{media.path}}" controls></video></div>
                        <audio ng-switch-when="audio" ng-src="{{media.path}}" controls></audio>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
    <ion-footer-bar class="bar-royal">
        <button class="button button-icon  ion-ios-close-outline pull-left"
                ng-click="hidePreview()">取消</button>
        <button class='button button-icon ion-checkmark-round pull-right'
                ng-if="preview.beforeSave"
                ng-click="save()">确认保存</button>
    </ion-footer-bar>
</ion-modal-view>