    <div class="myrow border-top" style="background-color:#ffffcc">
        <div class="mycol text-center" style="flex:1;-webkit-flex:1">桥梁检测记录</div>
        <div class="mycol text-center" style="width:100px">备注</div>
    </div>

    <div class="myrow border-top" style="background-color:#e8f4ff">
        <div class="mycol" style="width:200px">病害编号</div>
        <div class="mycol" style="flex:1;-webkit-flex:1">病害描述</div>
        <div class="mycol text-center" style="width:80px">标度</div>
        <div class="mycol text-center" style="width:80px">照片</div>
    </div>
    <ion-scroll zooming="false" direction="y"
                style="border-top:#ccc solid 1px;flex:1;-webkit-flex:1;">
        <ion-list class="myrecord">

            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:200px">S1-20150609-093L-0001</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第1孔3#小箱梁，距7#墩2m，外侧腹板
                        横向裂缝
                        2条, 长0.5，最大缝宽0.18
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:200px">S1-20150609-093L-0001</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第1孔3#小箱梁，距7#墩2m，外侧腹板
                        横向裂缝
                        2条, 长0.5，最大缝宽0.18
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:200px">S1-20150609-093L-0001</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第1孔3#小箱梁，距7#墩2m，外侧腹板
                        横向裂缝
                        2条, 长0.5，最大缝宽0.18
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:200px">S1-20150609-093L-0001</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第1孔3#小箱梁，距7#墩2m，外侧腹板
                        横向裂缝
                        2条, 长0.5，最大缝宽0.18
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:200px">S1-20150609-093L-0001</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第1孔3#小箱梁，距7#墩2m，外侧腹板
                        横向裂缝
                        2条, 长0.5，最大缝宽0.18
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:200px">S1-20150609-093L-0001</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第1孔3#小箱梁，距7#墩2m，外侧腹板
                        横向裂缝
                        2条, 长0.5，最大缝宽0.18
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:200px">S1-20150609-093L-0001</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第1孔3#小箱梁，距7#墩2m，外侧腹板
                        横向裂缝
                        2条, 长0.5，最大缝宽0.18
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:200px">S1-20150609-093L-0001</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第1孔3#小箱梁，距7#墩2m，外侧腹板
                        横向裂缝
                        2条, 长0.5，最大缝宽0.18
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:200px">S1-20150609-093L-0001</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第1孔3#小箱梁，距7#墩2m，外侧腹板
                        横向裂缝
                        2条, 长0.5，最大缝宽0.18
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:200px">S1-20150609-093L-0001</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第1孔3#小箱梁，距7#墩2m，外侧腹板
                        横向裂缝
                        2条, 长0.5，最大缝宽0.18
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>



        </ion-list>

    </ion-scroll>
