    <div class="border-top" style="background-color:#ffffcc">
        <div class="myrow">
            <div class="mycol text-center" style="flex:1;-webkit-flex:1">桥梁检测记录</div>
            <div class="mycol text-center" style="width:100px">
                <a class="button icon-left ion-ios-paper button-clear button-dark">备注</a>
            </div>
        </div>
    </div>

    <div class="border-top border-bottom" style="background-color:#e8f4ff">
        <div class="myrow">
        <div class="mycol" style="width:220px">病害编号</div>
        <div class="mycol" style="flex:1;-webkit-flex:1">病害描述</div>
        <div class="mycol text-center" style="width:80px">标度</div>
        <div class="mycol text-center" style="width:80px">照片</div>
        </div>
    </div>
    <ion-scroll zooming="false" direction="y"
                style="border-top:#ccc solid 1px;flex:1;-webkit-flex:1;">
        <ion-list class="myrecord">

            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:220px">S1-20150609-093L-0001</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第10孔 9#墩侧 5m范围内 外侧梁底 6条 横向裂缝 渗水 间距40-80cm
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:220px">S1-20150609-093L-0002</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第1孔3#小箱梁，距7#墩2m，外侧腹板
                        横向裂缝
                        2条, 长0.5m，最大缝宽0.18mm
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:220px">S1-20150609-093L-0003</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第13孔 跨中 10m范围内 梁底 横向裂缝 间距20-60cm 最大缝宽 0.14mm
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:220px">S1-20150609-093L-0001</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第10孔 9#墩侧 5m范围内 外侧梁底 6条 横向裂缝 渗水 间距40-80cm
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:220px">S1-20150609-093L-0002</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第1孔3#小箱梁，距7#墩2m，外侧腹板
                        横向裂缝
                        2条, 长0.5m，最大缝宽0.18mm
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:220px">S1-20150609-093L-0003</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第13孔 跨中 10m范围内 梁底 横向裂缝 间距20-60cm 最大缝宽 0.14mm
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:220px">S1-20150609-093L-0001</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第10孔 9#墩侧 5m范围内 外侧梁底 6条 横向裂缝 渗水 间距40-80cm
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:220px">S1-20150609-093L-0002</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第1孔3#小箱梁，距7#墩2m，外侧腹板
                        横向裂缝
                        2条, 长0.5m，最大缝宽0.18mm
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="myrow">
                    <div class="mycol" style="width:220px">S1-20150609-093L-0003</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        第13孔 跨中 10m范围内 梁底 横向裂缝 间距20-60cm 最大缝宽 0.14mm
                    </div>
                    <div class="mycol text-center" style="width:80px">1</div>
                    <div class="mycol text-center" style="width:80px">2</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>



        </ion-list>

    </ion-scroll>
