
    <div style="line-height:36px;background-color:#ffffcc">桥梁检测记录</div>

    <div class="row" style="line-height:36px;background-color:#e8f4ff;padding:0">
        <span class="col col-20" style="padding:0">病害编号</span>
        <span class="col" style="padding:0">病害描述</span>
        <span class="col col-10" style="padding:0">标度</span>
        <span class="col col-10" style="padding:0">照片</span>
    </div>

    <ion-scroll zooming="false" direction="y"
                style="border-bottom1:#ccc solid 1px;flex:1;-webkit-flex:1;background-color:blue">


        <ion-list>

            <ion-item>
                <div class="row" style="padding:0;line-height:36px">
                    <span class="col col-20" style="padding:0">S1-20150609-093L-0001</span>
                                <span class="col" style="padding:0">
                                    第1孔3#小箱梁，距7#墩2m，外侧腹板
                                    横向裂缝
                                    2条, 长0.5，最大缝宽0.18
                                </span>
                    <span class="col col-10" style="padding:0">1</span>
                    <span class="col col-10" style="padding:0">2</span>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>


            <ion-item>
                <div class="row">
                    <span class="col col-20">S1-20150609-093L-0001</span>
                            <span class="col">
                                第1孔3#小箱梁，距7#墩2m，外侧腹板
                                横向裂缝
                                2条, 长0.5，最大缝宽0.18
                            </span>
                    <span class="col col-10">1</span>
                    <span class="col col-10">2</span>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="row">
                    <span class="col col-20">S1-20150609-093L-0001</span>
                            <span class="col">
                                第1孔3#小箱梁，距7#墩2m，外侧腹板
                                横向裂缝
                                2条, 长0.5，最大缝宽0.18
                            </span>
                    <span class="col col-10">1</span>
                    <span class="col col-10">2</span>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
            <ion-item>
                <div class="row">
                    <span class="col col-20">S1-20150609-093L-0001</span>
                            <span class="col">
                                第1孔3#小箱梁，距7#墩2m，外侧腹板
                                横向裂缝
                                2条, 长0.5，最大缝宽0.18
                            </span>
                    <span class="col col-10">1</span>
                    <span class="col col-10">2</span>
                </div>
                <ion-option-button class="button-balanced" ng-click="maintain(maintain)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="maintain(maintain)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
        </ion-list>

    </ion-scroll>
