<ion-view view-title="填写病害信息">
    <!--上部主要承重构件-预制板梁-剥落,掉角-->
    <ion-content>
        <form name="bf">
        <ion-list>
            <label class="item item-input item-select">
                <span class='input-label'>标志墩:</span>
                <select ng-options = "x for x in duns"
                        ng-model="binghai.dun"
                        ng-init="binghai.dun='1'"
                        required>
                </select>
            </label>
            <label class="item item-input">
                <span class='input-label'>距离标志墩(米):</span>
                <input type='number' ng-model="binghai.mi"
                       placeholder="请填写与标志墩的距离" required>
            </label>
            <label class="item item-input">
                <span class='input-label'>面积(平米):</span>
                <input type='number' ng-model="binghai.area"
                       placeholder="请填写面积" required>
            </label>
            <ion-item class='item-divider'>位置</ion-item>
            <ion-radio ng-repeat="item in ['底板' , '腹板' , '翼板']"
                       ng-value="item"
                       ng-init = "binghai.weizhi='底板'"
                       ng-model="binghai.weizhi"
                       name="weizhi"
                    >
                {{ item }}
            </ion-radio>
            <ion-item class='item-divider'>位置</ion-item>
            <ion-radio ng-repeat="item in ['剥落' , '露筋' , '掉角']"
                       ng-value="item"
                       ng-init = "binghai.desc='剥落'"
                       ng-model="binghai.desc"
                       name="desc">
                {{ item }}
            </ion-radio>
            <input type="hidden"
                   ng-model="binghai.template"
                   ng-init="binghai.template='距 {{dun}} 墩 {{mi}} 米 {{weizhi}} {{desc}} , 面积: {{area}} 平米'">
        </ion-list>
        </form>
        <div class='padding'>
            <button class="button button-block button-royal"
                    ng-disabled=bf.$invalid
                    ng-click="save()">{{saveButtonText}}</button>
        </div>
    </ion-content>
</ion-view>