<ion-modal-view>

    <ion-header-bar class="bar-royal">
        <h1 class="title">查看历史病害</h1>
        <button class="button button-icon button-positive1 button-clear ion-ios-close-outline pull-left"
                ng-click='historyModal.hide()'></button>
    </ion-header-bar>

    <ion-content>
        <ion-list>
            <ion-item ng-repeat="disease in historys"
                      ng-click = "edit(disease)">
                {{disease.description}}
                <p>
                    {{disease.sn}}
                    <span class="item-note">{{disease.username}} @ {{disease.createtime}}</span>
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>