.welcome.slider {
    height: 100%
}
.welcome .description{
    text-align:center;
    padding-top:50px;
    font-family: '微软雅黑';
}
.welcome .slider-pager .slider-pager-page {
    color:#fff
}

.button-badge {
    position: relative;
    padding-left:0
}

.button-badge .badge {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1px 6px;
    height: auto;
    font-size: 12px;
    line-height: 16px;
}

.button-badge .icon {
    display: block;
    margin: 0 auto;
    height: 32px;
    font-size: 32px;
}


.bar-header .title {
    font-family: '微软雅黑'
}

.button-float {
    position: fixed;
    bottom: 16px;
    border: none;
    border-radius: 50%;
    min-width: 56px;
    min-height: 56px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    z-index: 20;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    -webkit-transition-property: 'background-color, box-shadow , opacity';
    transition-property: 'background-color, box-shadow , opacity';
}

.button-float.active, .button-float.activated {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.36) !important;
}

.button-float-left {
	left: 16px;
}
.button-float-right {
	right:16px
}

.button-aside {
    bottom: 16px;
}

.btn_check {
    background: #ffc900;
    opacity:1;
}


.imageuploader {
    padding: 10px 10px 0 0;
}

.imageuploader li {
    float: left;
    margin: 0 0 10px 10px;
    width: 25%;
    box-size: border-box;
    font-size:0;
}

.imageuploader label {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block

}

.imageuploader img {
    display:block;
    vertical-align:bottom;
    width: 100%;
    border: #ccc solid 1px;
    box-size: border-box;

}

.imageuploader input[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .01;
    z-index: 1;
    cursor: pointer
}

.item-radio input:checked ~ .item-content {
    background-color: #ffffcc
}

.single-select {
    position:relative;
    padding:0;
}
.single-select select {
    background:none;
    line-height:30px;
    width:100%;
    border:0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-size: border-box;
    border-image:0
}

.single-select:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 7px;
    width: 7px;
    height: 7px;
    border-top: solid 2px #c4c4c4;
    border-right: solid 2px #c4c4c4;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-top: -5px;
}

.bridgecard table {
    width:100%;
    border-collapse: collapse;
    text-align:center;
}
.bridgecard table td {border:#ccc solid 1px;padding:5px;vertical-align:middle}
.bridgecard table td.title {background:#eee;}
.bridgecard table.innertbl td {border:0;border-right:#ccc solid 1px}
.bridgecard table.innertbl td:last-child {border:0;}
.bridgecard img {width:100%}



.picker-container {
    height:100%;
    position:relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow:column;
    -webkit-flex-flow:column;
    -webkit-flex-dircetion:column;

    font-size:18px;
}
.picker-columns {
    height1:100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0;
    text-align: right;
	flex:1;
    -webkit-flex:1;
    max-height: 100%;
}
.picker-column {
    /*
	flex:1;
	-webkit-flex:1;
	*/
    width:auto;
    position: relative;
    max-height: 100%;
    border-right:#ccc solid 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow:column;
    -webkit-flex-flow:column;
    -webkit-flex-dircetion:column;
}

.picker-column:first-child{
    border-left:#ccc solid 1px
}
.picker-column-header {
    background:#e8f4ff;
    font-weight: bold;
    height: 36px;
    min-height:36px;
    line-height:36px;
    text-align:center;
    border-bottom:#ccc solid 1px;
}
.picker-column-items {
    overflow: hidden;
    position: relative;
    flex:1;
    -webkit-flex:1;
    max-height: 100%;
    -webkit-mask-box-image: -webkit-linear-gradient(bottom, transparent, transparent 5%, white 20%, white 80%, transparent 95%, transparent);
    -webkit-mask-box-image: linear-gradient(to top, transparent, transparent 5%, white 20%, white 80%, transparent 95%, transparent);
}
.picker-column-items.activated {
     background-color:#ffffee
 }
.picker-column-items-wrapper {
    overflow: hidden;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.picker-item {
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.picker-item.picker-selected {
    color: blue;
    font-weight1:bold;
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg);
    transform: translate3d(0, 0, 0) rotateX(0deg);
}

.picker-highlight {
    height: 36px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    margin-top: 0px;
    background:#e8f4ff;
    opacity:0.2;
    pointer-events: none;
}
.picker-highlight:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: blue; /*#a8abb0;*/
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}


.picker-highlight:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: blue;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}


.hpicker-container {
    background1:#eee;
}
.hpicker-container-borderbottom {border-bottom:#ccc solid 1px}
.hpicker-container-bordertop {border-top:#ccc solid 1px}
.hpicker-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.hpicker-header , .hpicker-item , .hpicker-highlight {
    height:36px;
    line-height:36px;
}
.hpicker-item , .hpicker-highlight {
    width:160px;
}

.hpicker-header {
    width:150px;
    border-right1:#ccc solid 1px;
    text-align:center;
}
.hpicker-items {
    background:#fff;
    flex:1;
    -webkit-flex:1;
    overflow: hidden;
    position: relative;
    width: 100%;
    -webkit-mask-box-image1: -webkit-linear-gradient(left, transparent, transparent 2%, white 20%, white 80%, transparent 98%, transparent);
    -webkit-mask-box-image1: linear-gradient(to right, transparent, transparent 2%, white 20%, white 80%, transparent 98%, transparent);

}

.hpicker-items.activated {
    background-color:#ffffee
}

.hpicker-items-wrapper {
    height:36px;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    white-spacing:nowrap;
    overflow: hidden;
}

.hpicker-badge .badge {
    font-weight:normal;
    padding: 1px 6px;
    height: auto;
    font-size: 12px;
    line-height: 16px;
}

.hpicker-item {
    float:left;
    border-left1:#ccc solid 1px;
    text-align:center;
}
.hpicker-item:first-child{
    border-left:0px
}
.hpicker-item.picker-selected {
    color: blue;
    font-size:22px;
    font-weight:bold;
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg);
    transform: translate3d(0, 0, 0) rotateX(0deg);
}
.hpicker-item.picker-selected .badge{background-color:blue}


.hpicker-highlight {
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    margin-left: -5px;

    pointer-events: none;
    border-left1:#ccc solid 1px;
    border-right1:#ccc solid 1px;
}
.hpicker-highlight1:before {
    content: '';
    position: absolute;
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #a8abb0;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}
.hpicker-highlight1:after {
    content: '';
    position: absolute;
    left: auto;
    bottom: auto;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #a8abb0;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.inforow {
    border-bottom:#ccc solid 1px;
    padding:0
}
.inforow .col {border-left:#ccc solid 1px;line-height:36px;padding:0 5px;
    font-size:18px}
.inforow .col:first-child{
    border-left:0
}




.aaaa {
    width:100%;
    border-top:#ccc solid 1px;
}
.aaaa td {border-bottom:#ccc solid 1px;line-height:36px;text-align:center}