    <!--
    <div class="border-top" style="background-color:#ffffcc">
        <div class="myrow">
            <div class="mycol text-center" style="flex:1;-webkit-flex:1">桥梁检测记录</div>
            <div class="mycol text-center" style="width:100px">
                <a class="button icon-left ion-ios-paper button-clear button-dark">备注</a>
            </div>
        </div>
    </div>
    -->
    <!--病害信息显示-->
    <div class="row inforow border-top" style="background-color:#ffffcc;border-bottom:0">
        <div class="col text-center">桥梁检测记录</div>
        <div class="col col-10 text-center" style="color:blue;border:0">
            <a class="button icon ion-ios-paper button-clear button-positive"
               style="font-weight:bold"> 备注</a>
        </div>
    </div>

    <div class="border-top border-bottom" style="background-color:#e8f4ff">
        <div class="myrow">
        <div class="mycol" style="width:220px;padding-left:15px">病害编号</div>
        <div class="mycol" style="flex:1;-webkit-flex:1">病害描述</div>
        <div class="mycol text-center" style="width:80px">标度</div>
        <div class="mycol text-center" style="width:80px">照片</div>
        </div>
    </div>
    <ion-scroll delegate-handle="diseaselist" zooming="false" direction="y"
                style="border-top:#ccc solid 1px;flex:1;-webkit-flex:1;">
        <ion-list class="myrecord">

            <ion-item ng-repeat="disease in diseases"
                      ng-click="previewDisease(disease)">
                <div class="myrow">
                    <div class="mycol" style="width:220px;padding-left:15px">{{disease.sn}}</div>
                    <div class="mycol" style="flex:1;-webkit-flex:1">
                        {{disease.content}}
                    </div>
                    <div class="mycol text-center" style="width:80px">{{disease.evaluateSn}}</div>
                    <div class="mycol text-center" style="width:80px">{{disease.mediaCount || 0}}</div>
                </div>
                <ion-option-button class="button-balanced" ng-click="editDisease(disease)">
                    <i class='icon ion-wrench padding'></i>修改
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="deleteDisease(disease)">
                    <i class='icon ion-delete padding'></i>删除
                </ion-option-button>
            </ion-item>
        </ion-list>

    </ion-scroll>
    

